body{
    background-color: aquamarine;
}

#settings{
    border: 2px solid black;
    padding: 5px;
}

#calculator{
    border: 2px solid black;
    padding: 5px;
}

#input1{
    width: 5%;
    margin-right: 20px;
}

#input2{
    width: 5%;
    margin-right: 20px;
}

.Grey{
    background-color: grey;
}

.Blue{
    background-color: blue;
}

.Yellow{
    background-color: yellow;
}

